<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.    See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.    The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.    See the License for the
    specific language governing permissions and limitations
    under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-bdpush"
        version="1.0.0">
        <name>BDPush</name>
        <description>Cordova BDPush Plugin</description>
        <license>Apache 2.0</license>
        <keywords>cordova,push</keywords>

        <engines>
                <engine name="cordova" version=">=3.0.0" />
        </engines>

        <js-module src="www/bdpush.js" name="bdpush">
                <clobbers target="window.BDPush" />
        </js-module>

        <!-- ios -->
        <platform name="ios">

            <config-file target="config.xml" parent="/*">
                <feature name="CDVBDPush">
                    <param name="ios-package" value="CDVBDPush" />
                    <param name="onload" value="true" />
                </feature>
            </config-file>

            <!-- Plugin source code -->
            <header-file src="src/ios/BDPushPlugin.h" />
            <source-file src="src/ios/BDPushPlugin.m" />

            <!-- Other required frameworks -->
            <framework src="Foundation.framework" weak="true" />
            <framework src="CoreTelephony.framework" weak="true" />
            <framework src="libz.tdb" weak="true" />
            <framework src="SystemConfiguration.framework" weak="true" />
            <framework src="CoreLocation.framework" weak="true" />

            <!-- Baidu Push Official -->
            <header-file src="src/ios/libs/BPush.h" />
            <source-file src="src/ios/libs/libBPush.a" framework="true" />
            <resource-file src="src/ios/libs/BPushCerResource.bundle"/>

        </platform>

        <!-- browser -->
        <platform name="browser">

            <js-module src="src/browser/BDPushProxy.js" name="BDPushProxy">
                <merges target="" />
            </js-module>

        </platform>

        <!--android -->
        <platform name="android">
            <config-file target="res/xml/config.xml" parent="/*">
                <feature name="CDVBDPush">
                    <param name="android-package" value="com.baidu.CDVBDPush"/>
                </feature>
            </config-file>

            <config-file target="AndroidManifest.xml" parent="/manifest">
                <!-- Push service 运行需要的权限 -->
                <uses-permission android:name="android.permission.INTERNET" />
                <uses-permission android:name="android.permission.READ_PHONE_STATE" />
                <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
                <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
                <uses-permission android:name="android.permission.WRITE_SETTINGS" />
                <uses-permission android:name="android.permission.VIBRATE" />
                <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
                <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
                <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
                <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
                <!-- 富媒体需要声明的权限 -->
                <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
                <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
                <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

                <!-- 适配Android N系统必需的ContentProvider写权限声明，写权限包含应用包名-->
                <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.baidu.bce" />
                <permission
                        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.baidu.bce"
                        android:protectionLevel="signature">
                </permission>

                <!-- push service start -->
                <!-- 用于接收系统消息以保证PushService正常运行 -->
                <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
                    android:process=":bdservice_v1" >
                    <intent-filter>
                        <action android:name="android.intent.action.BOOT_COMPLETED" />
                        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                        <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                        <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                        <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                        <action android:name="android.intent.action.MEDIA_MOUNTED" />
                        <action android:name="android.intent.action.USER_PRESENT" />
                        <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                        <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                    </intent-filter>
                </receiver>
                <!-- Push服务接收客户端发送的各种请求-->
                <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
                    android:process=":bdservice_v1" >
                    <intent-filter>
                        <action android:name="com.baidu.android.pushservice.action.METHOD" />
                        <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
                    </intent-filter>
                    <intent-filter>
                        <action android:name="android.intent.action.PACKAGE_REMOVED" />
                        <data android:scheme="package" />
                    </intent-filter>
                </receiver>
                <service android:name="com.baidu.android.pushservice.PushService" android:exported="true"
                    android:process=":bdservice_v1" >
                    <intent-filter >
                            <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
                    </intent-filter>
                </service>

                <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
                <service android:name="com.baidu.android.pushservice.CommandService"
                    android:exported="true" />

                <!-- 适配Android N系统必需的ContentProvider声明，写权限包含应用包名-->
                <provider
                    android:name="com.baidu.android.pushservice.PushInfoProvider"
                    android:authorities="YourPackageName.bdpush"
                    android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.YourPackageName"
                    android:protectionLevel = "signature"
                    android:exported="true" />

                <receiver android:name="com.baidu.bce.PushReceiver">
                    <intent-filter>
                        <!-- 接收push消息 -->
                        <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                        <!-- 接收bind、setTags等method的返回结果-->
                        <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                        <!-- 接收通知点击事件，和通知自定义内容 -->
                        <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
                    </intent-filter>
                </receiver>

                <!-- push结束 -->
            </config-file>

            <source-file src="src/android/CDVBDPush.java" target-dir="src/com/baidu" />
        </platform>

</plugin>
